body{
    background: url(/public/img/cubes.jpg);
}
#login_box{
    width: 50%;
    height: 300px;
    border: 1px solid #000000;
    margin: 20px auto;
    margin-top: 15%;
    text-align: center;
    background: #00000060;
    padding: 20px 50px;
}
#login_box .form{
    margin-top: 20px;
}
#login_box .form .item{
    margin-top: 15px;
    font-size: 17px;
    color: #fff;
}
#login_box .form .item input{
    font-size: 17px;
    width: 300px;
    border: 0;
    border-bottom: 2px solid #fff; 
    padding: 5px 10px;
    background: #ffffff00;
    color: #fff;
}
#login_box button{
    margin-top: 15px;
    width: 280px;
    height: 30px;
    background: #20002c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e00b0b, #0093f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 0;
    border-radius: 15px;
}